.paragliding {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}

.paragliding__title {
  position: absolute;
}

.paragliding__picture-img {
  width: 100%;
  max-width: 100%;
  height: 560px;
  object-fit: cover;

  @media (min-width: $desktop-width) {
    height: 600px;
  }
}

.paragliding__button {
  position: relative;
  justify-content: center;

  @media (min-width: $desktop-width) {
    font-size: 30px;
  }

  &:hover {
    opacity: 60%;
  }
}
