.container {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}
