@font-face {
  font-family: "Tenorsans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tenorsansregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubunturegular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ubuntumedium.woff2") format("woff2");
  font-display: swap;
}
