$font-tenor: "Tenorsans", "Arial", sans-serif;
$font-ubuntu: "Ubuntu", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #3c3c3c;
$color-grey: #b5b5b5;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
